In [11]:
!ls

Code_Clean.ipynb                    Scraping_Tweets_With_Comments.ipynb
Models                              Tweets_Scraper.ipynb

In [27]:
import pandas as pd
import numpy as np
df = pd.read_csv("../Data/Original_Data/Data_3.csv")
df.head(10)

                                                Text   Label
0  She calls herself "anti-feminazi" how about sh...  sexist
1  @CurvyBandida @Xalynne_B Wow, your skirt is ve...  sexist
2  @Smithcouple971 Hello....m raj....m with good ...  sexist
3  @hapyshoper79 @Dis_Critic @MairiJCam @cazadams...  sexist
4  @Ponderer_O_Purg @BynameRose @GameOverRos @nat...  sexist
5  I really just want to be rich  but not trophy ...  sexist
6  @martybeckerman @ne0liberal This feels like a ...  sexist
7  Bitches be begging me to fw them just to give ...  sexist
8  @UnaryUnicorn @sullydish @iamcuriousblue @fras...  sexist
9  @CynthiaCoxTO You're a Beautiful Woman with a ...  sexist

In [33]:
'''
from sklearn.preprocessing import LabelEncoder
# creating initial dataframe
labels = ('non-sexist','sexist')
#df = pd.DataFrame(labels, columns=['Label'])
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
df['Labels'] = labelencoder.fit_transform(df['Label'])
del df['Label']

   
df.rename(columns = {'Labels':'Label'}, inplace = True)

df.head(45)
'''

"\nfrom sklearn.preprocessing import LabelEncoder\n# creating initial dataframe\nlabels = ('non-sexist','sexist')\n#df = pd.DataFrame(labels, columns=['Label'])\n# creating instance of labelencoder\nlabelencoder = LabelEncoder()\n# Assigning numerical values and storing in another column\ndf['Labels'] = labelencoder.fit_transform(df['Label'])\ndel df['Label']\n\n   \ndf.rename(columns = {'Labels':'Label'}, inplace = True)\n\ndf.head(45)\n"

In [29]:
c= 0
for i in df.index:
    text = df.at[i,'Text']
    text = " ".join(filter(lambda x:x[0]!='@', text.split()))
    text = ' '.join(x for x in text.split() if not x.startswith('RT'))
    text = ' '.join(x for x in text.split() if not x.startswith('https'))
    
    df.at[i,'Text'] = text

In [30]:
df.head(10)

                                                Text  Label
0  She calls herself "anti-feminazi" how about sh...      1
1  Wow, your skirt is very short. What is it's le...      1
2  Hello....m raj....m with good size and excelle...      1
3  You weren't actually what?This is not a painte...      1
4  I don't know any feminists who think the way y...      1
5  I really just want to be rich but not trophy w...      1
6  This feels like a cold take on the surface, bu...      1
7  Bitches be begging me to fw them just to give ...      1
8  I’m going to start demanding that hot lesbians...      1
9  You're a Beautiful Woman with a Beautiful Hear...      1

In [31]:
df = df.iloc[np.random.permutation(len(df))]
df.head()

                                                   Text  Label
2613  I honestly think Gonzaga would beat UK as bad ...      0
3103  Looks like the kinda place China would come in...      0
1226  Now call me sexist but this is the woman's res...      1
3232  What a fucking prick you are. People need to s...      0
191   Hello....m raj....m with good size and excelle...      1

In [32]:
df.to_csv("../Data/Cleaned_Data/Data_3_cleaned.csv",index=False)