In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("../Data/Cleaned_Data/Data_1_cleaned.csv")
data2 = pd.read_csv("../Data/Cleaned_Data/Data_2_cleaned.csv")
data3 = pd.read_csv("../Data/Cleaned_Data/Data_3_cleaned.csv")

In [3]:
data1 = pd.concat([data1, data2], ignore_index=True, sort=False)
data1 = pd.concat([data1, data3], ignore_index=True, sort=False)

In [4]:
data1.head()

                                                Text  Label
0  Not sexist but I really dislike women announce...      1
1  I can't even sit down and watch a period of wo...      1
2  I'm not sexist but girls our age that drive is...      1
3  So now Thor is a women, captain America is now...      1
4  Call me sexist or whatever you wish, but for s...      1

In [5]:
print (len(data1))

5571

In [6]:
data1 = data1.iloc[np.random.permutation(len(data1))]
data1.head()

                                                   Text  Label
2887  If your husband is going to work every day, pa...      1
2930                             gangbanged by wookies.      0
1493  The art of leadership is saying no, not yes. I...      0
1532    With or without payment, the work will be done.      0
3369  #womensrights, Just like to say I’m all for y’...      1

In [12]:
data1['Label'].count()

5571

In [8]:
data1.to_csv("../Data/Cleaned_Data/Final_Data_cleaned.csv",index=False)

In [15]:
data1['Label'].value_counts()

1    3259
0    2312
Name: Label, dtype: int64